h3 {
    color: #5d3105;
}
#main {
    background: #999;
    height: 975px;
}
#box {
    width: 920px;
    height: 920px;
    background-color: burlywood;
    padding: 30px 30px 0px;
    margin: 0 auto;
    position: absolute;
    top: 125px;
    left: 300px;
}
#board {
    width: 900px;
    height: 900px;
    background-color: darkgoldenrod;
    margin: 0px;
    display: flex;
}
#spaces {
    width: 875px;
    height: 875px;
    margin: auto;
    border-width: 63px;
}
.row {
    width: 800px;
    height: 200px;
    margin: auto;
    background: #5d3105;
}
.row div {
    width: 200px;
    height: 200px;
    float: left;
    background: #5d3105;
    background: radial-gradient(circle at 100px -125px, darkgoldenrod 150px, black 150px, black 162px,transparent 162px),
        radial-gradient(circle at 100px 325px, darkgoldenrod 150px, black 150px, black 162px, transparent 162px),
        radial-gradient(circle at -125px 100px, darkgoldenrod 150px, black 150px, black 162px, transparent 162px),
        radial-gradient(circle at 325px 100px, darkgoldenrod 150px, black 150px, black 162px, transparent 162px);
     background-repeat:no-repeat;
}

#blackPieces {
    width: 300px;
    height: 800px;
    padding: 25px;
    position: relative;
}
#whitePieces {
    width: 300px;
    height: 800px;
    padding: 25px;
    transform: rotate(180deg);
    position: absolute;
    top: 125px;
    left: 1300px;
}
.blackPiece {
    margin: 25px;
    background: black;
    border-radius: 100px;
}
.whitePiece {
    margin: 25px;
    background: white;
    border: 6px solid black;
    border-radius: 100px;
}
/*Pieces Sizes:
    size0: 50ox
    size1: 75px
    size2: 125px
    size3: 150px
    */
.size3 {
    width: 150px;
    height: 150px;
}
.size2 {
    width: 125px;
    height: 125px;
}
.size1 {
    width: 75px;
    height: 75px;
}
.size0 {
    width: 50px;
    height: 50px;
}

.rules {
    position: absolute;
    top: 1100px;
}
#quickRules {
    background: #5d3105;
    color: white;
    padding: 5px;
}
#quickRules h3{
    color: white;
    background: black;
    padding: 5px;
    border: 2px solid #5d3105;
    outline: 5px solid black;
}
ul {list-style: none}
ul li:before {
    content: "\2022";
    color: black;
}
#noteOnPlay {
    background: burlywood;
    padding: 5px;
}